body {
    margin: 2;
    font-family: windlass;
    background-color: azure;
    background-image: url(../../imgs/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
