body {
    margin: 2;
    font-family: windlass;
    background-image: url('../static/imgs/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }