{% extends "base.html" %}

{% block head %}
  {{ super() }}
    <title>Insert data</title>
{% endblock %}

{% block content %}
<h1> Data input </h1>
<form action="/" method="POST">
    <table>
        <tr>
            <th>Earnings</th>
            <th>Customer 1</th>
            <th>Customer 2</th>
        </tr>
        <tr>
            <th>Supplier 1</th>
            <td><input name="text0" required="required"></td>
            <td><input name="text1" required="required"></td>
        </tr>
        <tr>
            <th>Supplier 2</th>
            <td><input name="text2" required="required"></td>
            <td><input name="text3" required="required"></td>
        </tr>
    </table>
    <button type="submit"> Send data</button>
</form>
{% endblock %}